<div mat-dialog-title>AJOUTER ETUDIANT</div>
<form [formGroup]="etForm" (ngSubmit)="onFormSubmit()">
<div mat-dialog-content style="padding-top: 20px;">
    <div class="row row-mt-20 first-field">
        <mat-form-field appearance="outline">
            <mat-label>ID</mat-label>
            <input matInput type="text" formControlName="id">
        </mat-form-field>
       
    </div>
    <div class="row field">
        <mat-form-field appearance="outline">
            <mat-label>NOM</mat-label>
            <input matInput type="text" formControlName="nom">
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>PRENOM</mat-label>
            <input matInput type="text" formControlName="prenom">
        </mat-form-field>
        
    </div>

    <mat-divider></mat-divider>

    <div class="row row-mt-20 field">
        <mat-form-field appearance="outline">
            <mat-label>EMAIL</mat-label>
            <input matInput type="email" placeholder="Ex. you.h@gmail.com" formControlName="email">
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>PASSWORD</mat-label>
            <input matInput type="email" placeholder="Ex. you.h@gmail.com" >
        </mat-form-field>

    </div>
    <mat-divider></mat-divider>
    <div class="row row-mt-20 field">
        <mat-form-field appearance="outline">
            <mat-label>CLASSE</mat-label>
            <mat-select formControlName="classe">
                <mat-option *ngFor="let classe of classes" [value]="classe">
                  {{ classe }}
                </mat-option>
              </mat-select>
          </mat-form-field>
       <mat-form-field appearance="outline">
            <mat-label>DATE NAISSANCE</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="dateDeNaissance">
            <mat-hint>YYYY-MM-DD</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
      
    </div>

  

</div>
<div mat-dialog-actions class="actions">
    <button mat-raised-button>ANNULER</button>
    <button mat-raised-button color="primary" type="submit">{{data?'Modifier':'Enregistrer'}}</button>
</div>
</form>